node_modules/
.env
.env.*
!.env.example

client/build/
client/node_modules/
server/node_modules/

server/serviceAccountKey.json
server/config/*.json
!server/config/.gitkeep

npm-debug.log*
yarn-debug.log*
yarn-error.log*
