/* Centraliza o componente na tela */
.forgot-pass-bc {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #4070f4;
}

.forgot-pass-form h1 {
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
    margin-bottom: 20px;
}

.forgot-pass-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFF;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 430px;
    width: 100%;
}

.forgot-pass-input {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    padding: 0 15px;
    border: 1px solid #CACACA;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    font-weight: 400;
}

.forgot-pass-input:focus {
    border-bottom-width: 2px;
}

.forgot-pass-button {
    margin-top: 20px;
    height: 50px;
    width: 100%;
    background-color: #0171d3;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;
}

.forgot-pass-button:hover {
    background-color: #016dcb;
}

@media screen and (max-width: 400px) {
    .forgot-pass-form {
        padding: 20px 10px;
    }
}
